<div class="main">
<div class="container">

  <div class="chat-area">
    <div class="income-msg">
    <img class="avatar" src="assets/download.png" alt="" style="display: inline;">
    <div _ngcontent-vbc-c4="" class="message-text"><div _ngcontent-vbc-c4="" style="display: inline;"><a _ngcontent-vbc-c4="" class="user-name" href="#">Theophilus Omoregbee</a><span _ngcontent-vbc-c4="" class="timestamp">9:00 AM</span>
      </div></div>
    <span class="msg">Hi,How can I help you?</span>
    </div>

  <div class="message left">rohan:fine</div>

</div>





<div class="input-area" style="margin-top: 460px;">
  <input type="text" class="input" placeholder="Type a message" required>
 <button class="submit"><i class="material-icons"> send </i></button>
</div>
</div>

